.articles__items {
    --item-width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    column-gap: 20px;
    height: auto;
    padding: 40px 0;
    
    /* Prevent flashing during masonry calculations */
    visibility: hidden;
    transition: visibility 0s, opacity 0.2s ease-in-out;
    opacity: 0;
    
    /* Reserve space to prevent content below from shifting */
    min-height: 800px;

    picture, img {
        display: block;
    }

    &.loading {
        .articles-tease {
            background: var(--light-grey);
            background: linear-gradient(100deg, var(--beige-darker) 8%, var(--beige) 18%, var(--beige-darker) 33%);
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;

            a {
                opacity: 0;
            }
        }
    }
}

.articles__items.stable {
    visibility: visible;
    opacity: 1;
}

.articles__item {
    align-self: start;
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    min-height: 100px; /* To prevent glitching during masonry reconfig */

    a {
        text-decoration: none;
        transition: opacity .12s;
    }

    &.articles-customization {
        background: var(--primary-color);
        padding: 30px 30px 20px;
        margin-inline: -20px;
        text-align: center;

        h2 {
            margin-bottom: 22px;
        }

        p {
            max-width: 500px;
            margin: 0 auto;
            font-size: var(--body-font-size-s);
        }
    }

    &.articles-survey {
        background-color: var(--secondary-color);
        height: 450px;
        padding: 20px 20px 40px;

        img {
            display: block;
            max-width: 120px;
            margin: 0 auto;
        }

        p {
            text-align: center;
            color: #fff;
            margin: 15px 0;
            font-family: var(--heading-font-family);
            font-style: italic;
            font-weight: var(--bold, 700);
            font-size: 30px;
            line-height: .9;
        }
    }

    &.articles-tease a {
        display: flex;
        flex-direction: column;

        picture {
            overflow: hidden;
        }

        img {
            height: auto;
            max-height: 370px;
            object-fit: cover;
            transition: transform .5s cubic-bezier(.25,.46,.45,.94);
            vertical-align: top;
            width: 100%;
        }

        & h2 {
            font-size: 22px;
            margin-block-end: 10px;
        }

        & > div:has(h2) {
            order: 3;
        }

        & > div:has(img) {
            order: 1;
        }

        &:hover {
            .articles__item__h2__text {
                background-size: 100% 100%;
            }

            img {
                transform: scale(1.2);
            }
        }
    }
}

.articles__item__h2__text {
    background-image: linear-gradient(transparent calc(100% - 2px), var(--primary-color) 2px);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 1s;
}

.articles__item__post-type {
    color: var(--dark-grey);
    font-family: var(--body-font-family);
    font-weight: var(--regular);
    order: 2;
    margin-block: 18px 8px;
    text-decoration: none;
    text-transform: uppercase;

    p {
        font-size: 13px;
    }
}

.articles__load-more {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    margin-block-end: 70px;
}

.articles-customization__push-before,
.articles-customization__push-after {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.articles-customization__push-after {
    display: none;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 13px;
    padding: 8px;
    margin: -8px;
}

@media screen and (width >= 620px) {
    .articles__items {
        --item-width: calc(50% - 15px);

        grid-template-columns: repeat(2, minmax(0, 1fr));
        min-height: 1000px;
    }

    .articles__item.articles-customization {
        grid-column: span 2;
        padding: 44px;
    }
}

@media screen and (width >= 970px) {
    .articles__items {
        --item-width: calc(33.3333% - 15px);

        column-gap: 30px;
    }
}

@media screen and (width >= 1025px) {
    .articles__items {
        --item-width: calc(33.3333% - 20px);

        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-block: 30px;
        min-height: 1200px;
    }

    .articles__item.articles-survey {
        height: 474px;
        padding-bottom: 50px;
    }


    .articles__item.articles-customization {
        margin-inline: 0;
    }
}

@media screen and (width >= 1440px) {
    .articles__items {
        --item-width: calc(25% - 22.5px);

        grid-template-columns: repeat(4, minmax(0, 1fr));
        min-height: 1400px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%
    }
}
