/* search box */
.search {
    position: relative;
}

.search .search-box {
  align-items: center;
    background-color: var(--white);
    border-radius: 24px;
  display: grid;
    font-size: 16px;
  grid-template-columns: 1fr auto;
    height: 50px;
    padding: 15px 35px;
    position: relative;
    z-index: 1;
}

.search .search-box input {
  border: none;
  color: var(--text-color);
  display: block;
  font-size: inherit;
    outline: none;
  width: 100%;

    &::placeholder {
        color: var(--secondary-color);
    }

    &:focus::placeholder {
        opacity: .4;
    }
}

.search-box:focus-within + .search__suggestions {
    display: flex;
}

.search__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 20px;
}

.search__suggestions {
    background: var(--white);
    border-radius: 24px;
    display: none;
    flex-wrap: wrap;
    gap: 8px;
    left: 0;
    padding: 64px 35px 35px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.search__suggestions__tag {
    text-decoration: none;
    padding: 6px 16px;
    border: 1px solid;
    color: var(--secondary-color);
    border-radius: 20px;
    background: 0 0;
    cursor: pointer;
    font-size: var(--body-font-size-s);

    &:hover {
        background: var(--secondary-color);
        color: var(--white);
    }
}

/* search results */
.search ul.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 24px;
  padding-left: 0;
  list-style: none;
}

.search ul.search-results > li {
  border: 1px solid #dadada;
}

.search ul.search-results > li > a {
  display: block;
  height: 100%;
  background-color: transparent;
  color: currentcolor;
  cursor: pointer;
}

.search ul.search-results > li > a:hover,
.search ul.search-results > li > a:focus {
  text-decoration: none;
}

.search ul.search-results > li .search-result-title,
.search ul.search-results > li p {
  padding: 0 16px;
}

.search ul.search-results > li .search-result-title {
  font-size: var(--body-font-size-m);
  font-weight: normal;
}

.search ul.search-results > li .search-result-title a {
  color: currentcolor;
  text-decoration: none;
}

.search ul.search-results > li p {
  font-size: var(--body-font-size-s);
}

.search ul.search-results > li .search-result-image {
  aspect-ratio: 4 / 3;
}

.search ul.search-results > li picture img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* no results */
.search ul.search-results.no-results {
  display: block;
  margin-left: 34px;
}

.search ul.search-results.no-results > li {
  border: none;
}
