footer {
    color: var(--white);

    a {
        color: var(--white);
        text-decoration: none;
    }
}

footer .section:first-child {
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 40px 0 25px;

    .default-content-wrapper img {
        height: auto;
        width: 80px;
    }
}

footer .section:nth-child(2) {
    background-color: var(--blue-secondary);
    font-size: 16px;
    line-height: 20px;

    ul {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 40px;
        justify-content: center;
    }
}

@media screen and (width >= 1025px) {
    footer .section:first-child {
        gap: 60px;
        padding: 60px 0;

        .default-content-wrapper img {
            width: 140px;
        }
    }

    footer .section:nth-child(2) {
        ul {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 17px;

            li {
                align-items: center;
                display: inline-flex;
                gap: 17px;
                text-wrap: wrap;
                text-align: center;
            }

            li:not(:first-child)::before {
                content: '●';
            }
        }
    }
}
