@layer conseils {

  /* styles for pages */
  body.conseils {

    .icon-logo-sep {
      display: none !important;
    }

    p, h2 {
      padding: 20px 8%;
    }
    
    ul {
      padding-left: 15%;
      padding-right: 10%;
      list-style-type: square;
    }
  }
}